<div class="container d-flex align-items-center justify-content-center">
  <div class="videoSection">
    <div class="row justify-content-center">
      <div id="pageTitle">{{title}}</div>
    </div>
    <div class="row justify-content-center">
      <chorus-video (transcriptChanged)="setTranscript($event)"></chorus-video>
    </div>
    <div class="row justify-content-center">
      <chorus-transcript [transcript]="transcript" class="col-sm-10"></chorus-transcript>
    </div>
  </div>
</div>
<div class="footer d-flex justify-content-center">
  <img src="https://static.chorus.ai/images/chorus-logo.svg" />
</div>



